// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~bootstrap-select/sass/bootstrap-select";
@import "~bootstrap-select/sass/variables";

body {
    font-size: 14px;
    font-weight: normal;
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 25px;
}


/* Add container and footer space */
#app > div.container {
    margin-bottom: 100px;
}
    /* Topic Index Page */
.topics-index-page {
    .topic-list {
        .nav>li>a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        a {
            color: #444444;
        }

        .meta {
            font-size: 0.9em;
            color: #b3b3b3;

            a {
                color: #b3b3b3;
            }
        }

        .badge {
            background-color: #d8d8d8;
        }

        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}
